"*":
  "color-picker":
    preferredFormat: "HEX"
  core:
    themes: [
      "one-light-ui"
      "piatto-light"
    ]
  editor:
    autoIndent: false
    fontFamily: "Bitstream Vera Sans Mono"
    fontSize: 13
    invisibles: {}
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "3d88bf63-5f77-c3c9-30a1-210b421bd2b1"
  hex: {}
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  welcome:
    showOnStartup: false
