"*":
  "color-picker":
    preferredFormat: "HEX"
  core:
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "summerfruit-theme"
    ]
    uriHandlerRegistration: "always"
  editor:
    autoIndent: false
    fontFamily: "BitStream Vera Sans Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 13
    tabLength: 4
  "exception-reporting":
    userId: "4d007d4b-2923-43aa-ae60-a6f9b9d3eac5"
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
