# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

'.source.shell':
  'die* functions':
    'prefix': 'die_functions'
    'body': """
# die errorMessage
#   exit the script using the provided error message
#
die () {
    echo "$@" 1>&2
    exit 1
}

# dieOnError errorVal taskDescription
#   if the passed return value is not 0 (indicating failure)
#   abort current script execution
#
dieOnError () {
    if [[ \\$1 -ne 0 ]]; then
        die "\\$2 failed with error \\$1"
    fi
}

# dieOnNon01 errorVal taskDescription
#   if the passed return value is not 0 or 1 (indicating failure)
#   abort current script execution
#   mainly for grep
#
dieOnNon01 () {
    if [[ \\$1 -ne 0 && \\$1 -ne 1 ]]; then
        die "\\$2 failed with error \\$1"
    fi
}
"""
  'sqlite in/out functions':
    'prefix' : 'sqlite_inout'
    'body' : '''
# doImport sourceFile targetTable [targetDbFile (default data.db)]
#   imports the tab-delimited file into the specified database and table
#
doImport () {
    echo "\\$1 into \\$2 in \\${3:-data.db}"
    sqlite3 "\\${3:-data.db}" <<END
.mode tabs
.import "\\$1" "\\$2"
END
    dieOnError $? "importing \\$1 into \\$2 in \\${3:-data.db}"
}

# doImportCSV sourceFile targetTable [targetDbFile (default data.db)]
#   imports the csv file into the specified database and table
#
doImportCSV () {
    echo "\\$1 into \\$2 in \\${3:-data.db}"
    sqlite3 "\\${3:-data.db}" <<END
.mode csv
.import "\\$1" "\\$2"
END
    dieOnError $? "importing \\$1 into \\$2 in \\${3:-data.db}"
}

# doExport targetFile sourceTable [sourceDbFile (default data.db)]
#   exports the specified database and table into the tab-delimited file
#
doExport () {
    echo "\\$2 from \\${3:-data.db} into \\$1"
    sqlite3 "\\${3:-data.db}" <<END
.mode tabs
.output \\$1
select * from \\$2;
END
    dieOnError $? "exporting \\$1 into \\$2 in \\${3:-data.db}"
}
'''
